wechat-mini-program-design/.idea/**
*.iml
wechat-mini-program-design/target/**
project.config.json

!pom.xml
!wechat-mini-program-design/src/main/**
!wechat-mini-program-design/src/test/**

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

